# .gitignore

*.log

# Node.js
node_modules/
/home/natalia/Desktop/Proyect/TodosUno/Gift-todosuno/frontend/node_modules
.next/
/home/natalia/Desktop/Proyect/TodosUno/Gift-todosuno/frontend/.next/
.env.env.prod
/home/natalia/Desktop/Proyect/TodosUno/Gift-todosuno/frontend/.env
