/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/components/banner/banner.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/



.banner {
    background-color:#1f1f1ff7;
    margin-top: 0;
    color: rgba(255, 255, 255, 0.925);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#logo-banner {
  margin-right: 31%;
  font-family: 'Philosopher', sans-serif ; 

}

.banner span {
    margin-right: 3%;
}

.banner a {
    text-decoration: none;
    color: white;
}

@media (min-width: 300px) and (max-width: 800px) {
    .banner {
        justify-content:space-between
    }
    #logo-banner {
        margin-left: 3%;
        margin-right: 8%;
    }
    .banner span {
        margin-right: 4%;
    }
  }
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/app/contact/contact.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/


.contact {
    background-image: url(/_next/static/media/fondoLogin.ba7735b9.jpg);
}

.contactCard {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.cc{
width: 35%;
background-color: white;
font-size: 20px;
margin-bottom: 200px;
padding: 2%;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
border: 1px solid gray;
border-radius: 15px;
font-family: 'PT Serif', serif;
}

.cc h2 {
    margin-bottom: 2%;
    text-align: center;
    margin-top: 2%;
    font-family: 'Philosopher', sans-serif !important;
    color: #947494;
}
.cc p{
    line-height: 34px;
}
.cc li {
    list-style: circle;
    margin-bottom: 2%;
}
.back a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5%;
}
.back a:hover {
    background-color: rgba(255, 255, 255, 0.397);
}
.back{
    margin-top: 3%;
    margin-left: 2%;
}
